<div class="dropdown justify-item-end">
    <button class="btn shadow-none" type="button" id="hamburger" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="img/hamburger.jpg" width="20">
    </button>
    <ul class="dropdown-menu" aria-labelledby="hamburger">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>