@model ImgappDemo.Models.User;

<body>
    <div class="text-center container my-5 py-5">
        @await Html.PartialAsync("_profileNav")

        @if (Model == null || Model.Comments.Count() == 0)
        {
            <h1>Nothing here D:</h1>
        }

        <section>
            @if (Model != null)
                @foreach (var item in Model.Comments)
                {
                    @await Html.PartialAsync("_PostList", item.Post)

                }
        </section>
    </div>
</body>
@* Enable vote system *@
@await Html.PartialAsync("_LoginModal", new User())
<script src="~/js/vote.js"></script>
