@model ImgappDemo.Models.User
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    string? error = TempData["Error"] as string;
}



<div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-4">
            @if (!string.IsNullOrEmpty(error))
            {
                <h1>@error</h1>
            }
            <h3>Login</h3>
            <div class="form-control">
                <form method="post"
                    action="/login?ReturnUrl=@System.Net.WebUtility.HtmlEncode(ViewData["ReturnUrl"] as string)">
                    <div class="mb-3">
                        <label for="UserName" class="form-label">User name</label>
                        <input asp-for="Name" type="text" class="form-control" name="Name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input asp-for="Password" type="password" class="form-control" name="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>